* {

    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}

.container {
    max-width: 200px;
    margin: 0 auto;
}

.layout {
    height: 100vh;
    background-image: linear-gradient(to bottom, white, #dbeafe, white);
}
.navbar-root {
    display: flex;
justify-content: space-between;
    align-items: center;
    padding: 16px 0px;

}

.logo {
    font-size: 8px;
}
.link-items {
    font-size: 8px;
    text-decoration: none;
    color: #625252
}